
.line-horizontal {
    border-bottom: 1px solid #ccc;
    margin-top: 12px;
}

.text-white-color {
    color: white;
}

.w-100 {
    width: 100%;
}


.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-120 {
    margin-top: 120px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-150 {
    padding-left: 220px;
}

.fs-14 {
    font-size: 14px;
}

.fs-32 {
    font-size: 32px;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.liked-color {
    color: #0472E4;
}